
* {
  border-radius:0px !important;
}



.forum-threads .list-group-item{
  border-left: 0 none;
  border-right:0 none;
  padding: 20px 10px;

}

.forum-threads .list-group-item.active{
  font-size: 20px;

}

.forum-threads .list-group-item:first-child{
  border-top: 0 none !important;
}

.nav-rtl {
    padding-left:30px;
    padding-right:0px;

 }

.nav-rtl li {
 float:right;
 }

 .nav-left-text{
   float:left !important;
 }

.margin-top-sm{
  margin-top: 10px;
}

.post-commands{

  text-align: right;
}

.editForumOPTitle{
  font-size:25px !important;
  font-weight: 500 !important;
  height:auto !important;
}

.forumOPTitleSeparator{
  margin-top:10px;
  margin-bottom:5px;
}
.forumEditOPTitleSeparator{
  margin-top:10px;
  margin-bottom:15px;
}

.inline{
  display:inline;
}
