<template name="addQuestForm">
  <form class="addQuestForm">

    <div class="form-group">
      <label for="addQuestTitle">Quest Title</label>
      <input type= "text" class="form-control" id="addQuestTitle" name="addQuestTitle" placeholder= "What is the essence of the Quest" />
    </div>

    <div class="form-group">
      <label for="addQuestDescription">Quest Description</label>
      <textarea class="form-control" id="addQuestDescription"  name= "addQuestDescription" rows="4" >
      </textarea>
    </div>

    <button type="submit" class="btn btn-primary" > Submit the Quest</button>

  </form>

</template>
