<template name="forumThread">

  <a href={{IDLink}} class="list-group-item">

{{#if pins}}
    <div class="list-item-element pins">
      {{#if pinned}}
      <i class="fa fa-thumb-tack" aria-hidden="true"></i>
      <!--<i class="fa fa-tag" aria-hidden="true"></i><br />-->
      {{/if}}
      {{#if locked}}
    <i class="fa fa-lock" aria-hidden="true"></i>
      {{/if}}
    </div>
{{else}}
    <div class="list-item-element list-item-padding-element">
    </div>
{{/if}}
    <div class="list-item-element">
          <img src={{identicon author size='10' scale='3'}} style="border-radius:50% !important" />
    </div>


    <div class="list-item-element text">
          <span class="thread-title">{{{title}}}</span> <br />
                <span class="author-name " >{{authorName}}
                   <span class=" hidden-sm hidden-md hidden-lg">
                     | {{dateInserted}} ago | <i class="fa fa-comment-o" aria-hidden="true"></i>{{replyNb}}
                   </span>
                 </span>
    </div>

    <div class="list-item-element comments hidden-xs">
        <i class="fa fa-comment-o" aria-hidden="true"></i> {{replyNb}}


      </div>


      <div class="list-item-element date hidden-xs">
        {{dateInserted}}
        </div>



    {{#if isAdmin}}
    <br  />
    {{#if pinned}}
      <button class="btn btn-sm btn-warning thread-pin" >Unpin</button>

        {{else}}
        <button class="btn btn-sm btn-default thread-pin" >Pin</button>
        {{/if}}
        {{#if locked}}
          <button class="btn btn-sm btn-warning thread-lock" >Unlock</button>

            {{else}}
            <button class="btn btn-sm btn-default thread-lock" >Lock</button>
            {{/if}}
    <button class="btn btn-sm btn-info thread-adminUpdate" >Update</button>
    {{else}}
    {{/if}}

  </a>

</template>
