<template name="forumThread">

  <a href={{IDLink}} class="list-group-item">
    {{title}} <br />
    {{#if locked}}
    locked! <br />
    {{/if}}
    {{#if pinned}}
    pinned! <br />
    {{/if}}
    <img src={{identicon author size='10' scale='3'}} style="border-radius:50% !important" />
    {{authorName}}<br />

    {{replyNb}}<br />
    {{dateInserted}}<br  />
    {{#if isAdmin}}
    {{#if pinned}}
      <button class="btn btn-warning thread-pin" >Unpin</button>

        {{else}}
        <button class="btn btn-default thread-pin" >Pin</button>
        {{/if}}
        {{#if locked}}
          <button class="btn btn-warning thread-lock" >Unlock</button>

            {{else}}
            <button class="btn btn-default thread-lock" >Lock</button>
            {{/if}}
    <button class="btn btn-info thread-adminUpdate" >Update</button>
    {{else}}
    {{/if}}

  </a>

</template>
