<template name="featuresModal">

  <div class="modal fade" id="featuresModal" tabindex="-1" role="dialog" aria-labelledby="featuresModal">
    <div class="modal-vertical-alignment-helper">
      <div class="modal-dialog modal-vertical-align-center" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h3>{{title}}</h3>
            <p>
              {{message}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
