<!--The main layout includes the navbar and a container for pages -->

<template name="bannerLayout">
  <div class ="communitySelector">


    <div class="greyBackground">
      <div class="height-extension-wrapper">


        <nav  class="main-navbar in-banner" style="">
          <a class="navbar-brand" href={{homePath}}><img src="/Images/helper/LifeInFlow.png" alt="" /></a>
          <ul class="main-nav ">
            <li ><a href="#"  id="PassionLink">Passion </a></li>
            <li><a href="#" id="AdventureLink">Adventure</a></li>
            <li><a  href="#" id="WisdomLink" >Wisdom</a></li>



            <li class="dropdown right">
              <a  id="navDropdown" href="#" class="dropdown-toggle center-on-xs"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bars" aria-hidden="true"></i> <div class="hidden-xs" style="display:inline;">Menu</div>
              </a>

              <ul class="dropdown-menu no-collapse" aria-labelledby="navDropdown">
                <li><a href="#" id="homeAboutLink">About</a></li>
                <li><a href="#"  id="homeJoinLink">Give us Feedback</a></li>
                {{#if isAdmin}}
                <li><a href="/admin" >Admin Dashboard</a></li>
                {{/if}}
                <li>
                  {{#if currentUser}}
                  <a href="#" id="logOut"><i class="fa fa-sign-out" aria-hidden="true"></i> LogOut</a>
                  {{else}}
                  <a href="#" data-toggle="modal" data-target="#signInModal"> Sign In / Sign Up</a>
                  {{/if}}
                </li>

              </ul>
            </li>
          </ul>
        </nav>






        <div class="mini-banner dark">
          <div class="inner">

            <div class="container">
              <div class="row">

                <div class="colum-md-12">
                  <h1 class="text-center">{{communityTitle}}</h1>
                </div>
              </div>

              <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">

                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="container footer-separator">
          {{> Template.dynamic template = mainPage }}
        </div>

      </div>
      <footer id="footer" class="small-footer with-image">
        <div class="copyright small-footer-element">
          <ul class="icons small-footer-element">
            <li><a href="https://twitter.com/LifeInFlowGroup" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/LifeInFlowGroup/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          </ul>
          <p class="small-footer-element">&copy; LifeInFlow. All rights reserved.</p>
        </div>
      </footer>
    </div>


    {{> signInModal}}
  </div>
</template>
