<template name ="homePageLayout">

  <!-- Header -->
  <header id="header" class="alt">
    <div class="logo"><a href="/"><span>MEDIAC</span></a></div>
    <a href="#menu" class="small-shadowed">Menu</a>
  </header>

  <!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href={{forumLink}}>Discussions</a></li>
      <li><a href="#section-2" class="scrolly" >About</a></li>
      <li><a href="#section-1" class="scrolly">Join the Effort</a></li>
      <li>
        {{#unless currentUser}}
        <a href="#section-5" class="scrolly">Sign Up / Sign In</a>
        {{/unless}}


      </li>
      {{#if isAdmin}}
      <li><a href="/admin" >Admin Dashboard</a></li>
      {{/if}}

    </ul>
  </nav>

  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <header>
        <h1><!--MEET. DISCUSS. ACT.-->Passion. Adventure. Wisdom.</h1>
        <p>Providing a platform for us young generation<!--to find and work--> to work together on our Passion. <br />
          We aim to cut through all the noise and over-information clouding today's digital era <br />
          to provide truly useful<!--information--> environment to all those who feel like they should be doing more <br />
          than they are, while being stuck in a system that take over their lives and careers.</p>
        </header>
        <a href={{forumLink}} class="button special big">Go</a> <br />

      <a href="#section-2" class="scrolly down-transition-arrow"> <i class="fa fa-angle-down fa-4x" aria-hidden="true"></i></a>

      </div>

    </section>

    <!-- Main -->
    <div id="main">



      <!-- Section -->
      <div id="section-1">
        <section class="wrapper style1">
          <div class="inner">
            <header class="align-center">
              <h2>Join the Effort</h2>
              <p>
                The MEDIAC platform is still in early stages and we are actively working to deliver more and more features. We are a small non profitable
                organisation and are welcoming Passionate folks who would like to join us. If you are a developper, designer, artist, marketer  that
                identifies with the cause and would like to join our effort and help us out let us know of your name, email and a brief description about you below.
              </p>
            </header>
            <div class="rowT 200%">
              <div class="6u 12u$(medium)">
                <h3>Contact Form <span class="text-success hidden sent-mark"> - <i class="fa fa-check" aria-hidden="true"></i> Sent</span></h3>
                <div class="contactFormErrorBox hidden">
                      {{> Template.dynamic template='errorMessageBox' data=contactFormErrorMessage}}
                </div>
                <form id="contactForm">
                  <div class="rowT uniform">
                    <div class="6u 12u$(xsmall)">
                      <input type="text" name="name" id="contactFormName" value="" placeholder="Name" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                      <input type="email" name="email" id="contactFormEmail" value="" placeholder="Email" />
                    </div>
                    <div class="12u$">
                      <textarea name="message" id="contactFormMessage" placeholder="Enter your message" rowTs="6"></textarea>
                    </div>
                    <div class="12u$">
                      <ul class="actions">
                        <li><input type="submit" value="Send Message" /></li>
                        <li><input type="reset" value="Reset" class="alt" /></li>
                      </ul>
                    </div>
                  </div>
                </form>

              </div>
              <div class="6u$ 12u$(medium)">
                <h3>Scheduled Features</h3>
                <ul class="fit small actions-vertical">
                <li><a href="#" class="button fit small featureDescription" data-feature="forum">Discussions Forum</a></li>
                  <li><a href="#" class="button fit small featureDescription" data-feature="blog">Inspirational Story Blog</a></li>
                  <li><a href="#" class="button fit small featureDescription" data-feature="groups">Action Groups Platform</a></li>
                  <li><a href="#" class="button fit small featureDescription" data-feature="chat">Live Chat</a></li>

                </ul>

              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Section -->
      <div id="section-2">
        <section class="wrapper style2">
          <div class="inner">
            <!-- 2 Columns -->
            <div class="flex ">

              <div class="col align-center">
                <h2>About</h2>
                <p>
                  By browsing the different communities on our platform, you will be able to find people sharing the
                  same interrests and inclinations. Join the Passion, Adventure or Personal development communities and
                  start interracting and launching the positive changes in your life!
                </p>


<div class="row">
<div class="col-md-4">
  <div class="image round fit">
    <div class="txt">
      <h3>
      Passion
    </h3>
    </div>
<img src="/Images/Passion/manFire1.jpg" alt="" />
  </div>
</div>
<div class="col-md-4">
  <div class="image round fit">
    <div class="txt">
      <h3>
      Adventure
    </h3>
    </div>
  <img src="/Images/Adventure/yoga1.jpg" alt="" />
  </div>
</div>
<div class="col-md-4">
  <div class="image round fit">
    <div class="txt">
      <h3>
      Wisdom
    </h3>
    </div>

  <img src="/Images/Wisdom/guru1.jpg"  alt="" />
  </div>
  </div>
</div>









              </div>
            </div>
          </div>
        </section>
      </div>


<!--
      <div id="section-3">
        <section class="wrapper style1">
          <div class="inner">
            <div class="flex flex-2">
              <div class="col col2">
                <h2>DISCUSS</h2>
                <p>Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.</p>
                <p>Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex. </p>
                <a href="#" class="button">Learn More</a>
              </div>
              <div class="col col1 first">
                <div class="image round fit">
                <img src="homePageTemplateFiles/images/pic07.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>


      <div id="section-4">

        <section class="wrapper style2">
          <div class="inner">


            <div class="flex">
              <div class="col align-center ">
                <h2>ACT</h2>
                <p class="text-column">
                  Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet.
                  Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet.
                  Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet.
                  Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet.
                  Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet.
                  Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet.
                </p>
                <a href="#" class="button">Learn More</a>
              </div>
            </div>
          </div>
        </section>
      </div>
-->

      <div id="section-5">
        <!-- Section -->
        <section class="wrapper style1">
          <div class="inner">
            <header class="align-center">
              <h2>Get Started!</h2>
            </header>
            <div class="rowT 200%">
              <div class="6u 12u$(medium)">

                <div class="box">
                  <h3>Sign In</h3>
                  <div class="signInFormErrorBox hidden">
                        {{> Template.dynamic template='errorMessageBox' data=signInFormErrorMessage}}
                  </div>
                  <form id="signInForm">
                    <div class="rowT uniform">
                      <div class="12u">
                        <input type="text" name="username"  value="" placeholder="Username" />
                      </div>
                      <div class="12u">
                        <input type="password" name="password"  value="" placeholder="Password" />
                      </div>
                      <div class="12u$">
                        <ul class="actions">
                          <li><input type="submit" value="Sign In" /></li>
                        </ul>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
              <div class="6u 12u$(medium)">

                <div class="box">
                  <h3>Sign Up</h3>
                  <div class="signUpFormErrorBox hidden">
                        {{> Template.dynamic template='errorMessageBox' data=signUpFormErrorMessage}}
                  </div>
                  <form id="signUpForm">
                    <div class="rowT uniform">
                      <div class="12u">
                        <input type="text" name="username"  value="" placeholder="Username" />
                      </div>
                      <div class="12u">
                        <input type="password" name="password"  value="" placeholder="Password" />
                      </div>
                      <div class="12u">
                        <input type="password" name="confirmPassword" value="" placeholder="Confirm Password" />
                      </div>
                      <div class="12u$">
                        <ul class="actions">
                          <li><input type="submit" value="Sign Up" /></li>
                        </ul>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
      <div class="copyright">
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        </ul>
        <p>&copy; MEDIAC. All rights reserved. Homepage Design: <a href="https://templated.co">TEMPLATED</a>.</p>
      </div>
    </footer>

{{#with modalText}}
{{>  featuresModal}}
{{/with}}
  </template>
